.page-todo-read {
  table {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  thead {
    font-size: 1.6rem;
    background: gray;
  }

  tbody {
    font-size: 1.4rem;
    background: lightcyan;
  }
}
