@keyframes display-animation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.todo-item {
  padding: 0.5rem;
  display: flex;
  background: gainsboro;
  font-size: 1.2rem;
  justify-content: center;
  animation: display-animation 0.3s linear;
  gap: 0.5rem;

  .todo-item__text {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .todo-item__checkbox {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 3px solid #707070;
  }
}

.todo-item.--completed {
  .todo-item__text {
    text-decoration: line-through;
    color: gray;
  }
}
